/*轮播视频css代码开始*/
.Lunbo-video{
    /* background-color:#dc2626; */
    padding-top:10px;
    padding-bottom:10px;
}
.Lunbo-video .Lunbo-video-cont{
    margin-bottom:20px;
    height: 100%;
}
.Lunbo-video li{
    list-style: none;
}
.video{
    width:80%;
    margin:0 auto;
    overflow: hidden;
    zoom:1;
    /* background: #ffffff; */
}
.video>div{
    float: left;
    height: 400px;
}
.video>div:first-child {
    width: 5%;
    display:flex;
    align-items:center;
    justify-content:center;
    /* background: url('image\left.png') center center/cover no-repeat; */
}
.Lunbobutton{
    width: 100%;
    height: auto;
}
.video>div:last-child {
    width: 5%;
    display:flex;
    align-items:center;
    justify-content:center;
    /* background: rgb(240, 13, 114); */
    /* background: url('image\right.png') center center no-repeat; */
}
.video>div:nth-of-type(2){
    width: 90%;
}
.video ul{
    position: relative;
}
.video li{
    transition: all .6s;
    position: absolute;
    background: aliceblue center center no-repeat;
    background-size: 100% 100%;}
/*.video li>div{padding: 1% 1% 4%;}*/
.video li video{
    width:100%;
    height:100%;
}
.video li h3{
    text-align: center;
    margin-top: 2px;
    color: #1766d7;
}
.video1{
    width:18%;
    height: auto;
    /* top: 143px; */
    left: 0;
    z-index: 1;
}/*创建5个播放框初始位置*/
.video2{
    width: 37%;
    height: auto;
    /* top: 86px; */
    left: 8%;
    z-index: 2;
}
.video3{
    width: 64%;
    height: auto;
    /* top: 0px; */
    left: 17%;
    z-index: 3;
}
.video4{
    width: 37%;
    height: auto;
    /* top: 86px; */
    left: 54%;
    z-index: 2;
}
.video5{
    width:18%;
    height: auto;
    /* top: 143px; */
    left: 82%;
    z-index: 1;}
/*轮播视频css代码结束*/
/*青年说css代码开始*/
.bk-ec {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.bk {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.common-title {
    position: relative;
    text-align: center;
    width: 1200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    /*background: url() no-repeat;*/
}
.common-title {
    margin-bottom: 30px;
    text-align: center;
}
.bk * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.common-title .ctitle {
    white-space: nowrap;
}
.common-title .ctitle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 54px;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    color: #c54540;
}
.common-title .ctitle .title-cn {
    display: block;
    margin-bottom: 20px;
}
.common-title .ctitle .title-py {
    display: block;
    font-size: 20px;
    font-weight: normal;
}
.bk-ec .swiper-wrapper {
    height: 100%;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.bk-ec .swiper-slide {
    position: relative;
    height: 100%;
    font-size: 0;
}
.bk .swiper-slide {
    position: relative;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.bk-ec .img1-outer {
    position: relative;
    cursor: pointer;
}
.bk-ec .desc2 {
    width: 100%;
    color: #201914;
    font-size: 18px;
    margin-right: 7px;
    text-align: center;
    line-height: 1.5;
}
.bk-ec .al5 {
    left: 50%;
    margin-left: -650px;
}
.bk-ec .ar5 {
    right: 50%;
    margin-right: -650px;
}
.bk-ec .arrow5 {
    position: absolute;
    top: 200px;
    z-index: 2;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.bk-ec .swiper2-outer {
    position: relative;
    height: 450px;
    overflow: hidden;
}
.bk-ec .swiper-container {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2060px;
    margin-left: -1030px;
    height: 100%;
}
.bk .swiper-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.bk-ec .img1-outer img {
    max-width: 100%;
    height: auto;
}
a, img {
    -webkit-touch-callout: none;
}
element.style {
    width: 359.2px;
    margin-right: 66px;
}
.bk-ec .img1-outer {
    position: relative;
    cursor: pointer;
}
/*青年说css代码结束*/