<!--青年说开始-->
*{
    margin:0;
    padding: 0;
}
body{
    background:url("../img/bg2.png") no-repeat fixed;
    background-size:100% 100%;
}
.wrap{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width:75%;/*整个盒子宽度*/
    height:100%;
    background:rgba(0,0,0,0.3);
}
.text-left{
    width: 286px;
    height: 100%;
    background: #a30101;
    position: absolute;
    top:0px;
    z-index:999;
}
.text-left-top{
    height: 150px;
    width: 280px;
    top:50px;
}
.center{
    width:1280px;
    height: 100%;
    left: 280px;
    border: 5px #ff6700;
}
.one1{
    height: 300px;
    width: 69%;/*student图片盒子宽度*/
    position: absolute;
    left: 390px;
    top: 390px;
}
#student_img{
    height: 300px;
    width: 55%;/*图片宽度*/
}
.one2{
    height: 190px;
    width: 25%;/*定义loge宽度*/
    position: absolute;
    right:50px;
    top:20px;
    background: url("../img/sju_logo_white_empty.png") no-repeat ;
}
.one3{
    height: 200px;
    width: 45%;/*文字定义盒子宽度*/
    position: absolute;
    left:382px;
    top: 150px;
}
p{
    font-size:20px;
    font-family: "微软雅黑";
    color:#333333;
    text-decoration: deepskyblue;
    text-indent: 2em;
}
.back_img{
    height: 80px;
    width: 93px;/*back_img宽度*/
    position: absolute;
    right:50px;
    bottom:20px;
    opacity: 0.9;
}
<!--青年说结束-->